<div class="container mt-3">
  <h3>Add Prescription</h3>
  <form (ngSubmit)="savePrescription()">
    <div class="mb-3">
      <label>Patient ID</label>
      <input class="form-control" [(ngModel)]="patientId" name="patientId" required>
    </div>

    <div class="mb-3 position-relative">
      <label>Medicine</label>
      <input class="form-control"
             [(ngModel)]="medicineName"
             name="medicineName"
             (input)="searchMedicine(medicineName)"
             autocomplete="on">
      <ul *ngIf="searchResults.length" class="list-group position-absolute w-100">
        <li *ngFor="let med of searchResults"
            class="list-group-item list-group-item-action"
            (click)="selectMedicine(med)">
          {{med.name}}
        </li>
      </ul>
    </div>

    <div class="mb-3">
      <label>Dosage</label>
      <input class="form-control" [(ngModel)]="dosage" name="dosage">
    </div>

    <div class="mb-3">
      <label>Timing</label><br>
      <label><input type="checkbox" [(ngModel)]="timing.morning" name="morning"> Morning</label>
      <label><input type="checkbox" [(ngModel)]="timing.afternoon" name="afternoon"> Afternoon</label>
      <label><input type="checkbox" [(ngModel)]="timing.night" name="night"> Night</label>
    </div>

    <button class="btn btn-secondary" type="button" (click)="addMedicine()">Add Medicine</button>
  </form>

  <h4 class="mt-4">Medicines</h4>
  <ul class="list-group">
    <li *ngFor="let med of medicines; let i = index" class="list-group-item">
      {{med.medicine_name}} - {{med.dosage}} ({{med.timing}})
      <button class="btn btn-sm btn-danger float-end" (click)="removeMedicine(i)">Remove</button>
    </li>
  </ul>

  <button class="btn btn-primary mt-3" (click)="savePrescription()">Save Prescription</button>
  <button class="btn btn-success mt-3 ms-2" (click)="downloadPdf()">Print Prescription</button>
</div>
